/level-1/desafios/gostack-desafio-conceitos-reactjs/node_modules
/level-1/desafios/gostack-desafio-conceitos-react-native/node_modules
/level-1/project/backend/node_modules
/level-1/project/frontend/node_modules
